<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template: install-wake-helper.sh substitutes __SLEEPWATCHER__ and __SCRIPT__. -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.aerial-manager.wakewatcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>__SLEEPWATCHER__</string>
    <string>-w</string>
    <string>__SCRIPT__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
